* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 10px;
  background-color: #b5a26e;
}
#social-media-icons {
  display: inline-block;
  margin-right: 6px
}
p,li {
	line-height: 160%;
}
#about {
  float:right
}
h1 {
   color:#dbaa4b;
}
a:hover,h2,h3,h5,h6,p,li {
    color: white;
}
img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* Header/Blog Title */
.header {
  padding: 0px;
  margin: -30px;
  text-align: center;
  background: #b5a26e;
}
.button {
  background-color: #003334; /* Green */
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.header h1 {
  font-size: 75px;
  color: #423317;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #003334;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: #ccc;
  color: black;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #B5A26E;
  padding-left: 20px;
}
#white-font-color {  
  color: white;
  text-decoration: none;
}
#yellow-font-color {  
  color: #dbaa4b;
  text-decoration: none;
}
/* Popular articles block */
.popular {
  background-color: #423317;
  text-decoration: none;	
  width: 100%;
  padding: 2px;
  padding: 20px;
  margin-top: 20px;
}
/* Add a card effect for articles */
.card {
  background-color: #423317;
  padding: 20px;
  margin-top: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Footer */
.footer {
  padding: 1px;
  text-align: center;
  background: #423317;
  margin-top: 20px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;    	  
  }     
}


@media screen and (min-width: 800px) {
.topnav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;	
  }
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    width: 100%;
    font-size: 110%;  
  }
	h1 {
	font-size: 150%;	
	}
	h6 {
	line-height: 30%;
	}
}
